header {
  width: 80%;
  display: flex;
  position: relative;
  left: 5%;
  color: #7a7a7a;
  font-size: 16px;
  border-bottom: 1px solid #eee;
}
nav {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 200vh;
  height: 15vh;
}
nav h2 {
  left: 7%;
  position: absolute;
  font-size: 30px;
}
nav ul {
  display: flex;
  /* width: 100%; */
  list-style-type: none;
  position: absolute;
  left: 31%;
  /* justify-content: flex-end; */
  padding: 10px;
}
nav li {
  padding-left: 35px;
  margin-top: 10px;
}
nav a {
  text-decoration: none;
  padding: 20px;
  color: black;
  font-size: 20px;
}
nav .active {
  color: #f35525;
}
nav a:hover {
  color: #f35525;
}
.icon:before{
  content: "\1F4C6";
  margin-left: 0;
}
nav .visit {
  background-color: black;
  width: 200px;
  color: white;
  border-radius: 30px;
  padding-top: 15px;
  padding-left: 55px;
  width: 20%;
}
.section-1 {
  background-color: #eee;
  display: flex;
  position:relative;
  margin-top: 30px;
  width: 100%;
  height: auto;
  /* top: 25%; */
  /* background-size: cover; */
}
.section-1 img {
  background-size: cover;
  max-width: 100%;
  margin: 0;
}
.section-1 .content {
    background-color: #070707;
    width: 27%;
    /* height: 100px; */
    position: absolute;
    top:25%;
    right: 75%;
    left: 25%;
}
.content span{
  position: absolute;
  background-color: white;
  font-size: 20px;
  padding: 5px;
 font-family:sans-serif;
  color: rgb(13, 13, 13);
}
.content em{
  color: #f35525;
}
.content h2{
  position: absolute;
  font-size: 3.5em;
  top:20%;
  color: white;
}
/* featured-section */
.feature-section{
  width: 100%;
  height: 600px;
  margin-top:150px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f35525; */
}
.container{
  display: grid;
  width: 70%;
  height: 500px;
  grid-template-columns: 36% 50% 30%;
}
/* .img-container {
position: relative;
left: 0;
}
.img-container a{
  position: absolute;
  top:92%;
  left: 10%;
  right: 60%;
  bottom: 0;
  background-color: #f35525;
  width: 200px;
  height: 100px;
  border-radius: 50%;
} */
 .content-box h4{
margin-left: 20px;
margin-top: 0;
    color:#EE626B;
font-weight: bold;
text-transform: uppercase;

 }
 .content-box h2{
  /* display: inline; */
  font-size: 3.6em;
  margin-left: 20px;
  margin-top: 0;
 }
 .content-box h3{
  margin-left:7%;
 }
 .list-items ul{
  padding: 20px;
  list-style: none;
  margin-left: 100px;

 }
 .list-items li {
  padding: 10px;

 }
 .list-items span{
  font-size: 19px;
 color: rgb(170, 170, 170);
 }
 /* video section */
 .video-view{
  margin-top: 100px;
  position: relative;
 }
 .image{
  /* position: relative; */
 }
 .image h3{
  position: absolute;
  top:11%;
  left: 45%;
  color: #EE626B;
 }
 .image h2{
  position: absolute;
  width: 350px;
  font-size: 2.5em;
  top:17%;
  left: 40%;
  color: #fbfafa;
 }
 .image-2{
  position: absolute;
  right: 14%;
  top:50%;
 }
 .image a{
  position: absolute;
  right: 50%;
  top:95%;
  font-size: 1em;
  color: #f35525;
  text-decoration: none;
  background-color: #eee;
  padding: 20px;
  border-radius: 50%;
 }