/* ...existing code... */

@media screen and (max-width: 768px) {

    .head {
        margin-left: 10%;
        color: #7a7a7a;
        font-size: 10px;
    }

    nav h2 {
        font-size: 25px;

    }

    nav ul {
        display: none;
    }

    .section-1 {
        max-width: 100%;
        margin: 0;
    }

    .section-1 img {
        background-size: cover;
        width: 100%;
        margin: 0;
    }

    .content span {
        background-color: white;
        font-size: 14px;
        padding: 2px;
        font-family: sans-serif;
        color: rgb(13, 13, 13);
    }

    .content h2 {
        margin-top: 20%;
        font-size: 1em;
        color: white;
    }

    /*  */
    .feature-section {
        max-width: 100%;
        margin-top: 3%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* background-color: aqua; */
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 450px;
        height: 225px;
        margin-top: 20px;
    }

    .img-container {
        width: 30%;
        margin-top: 0%;
    }

    .img-container img {
        height: 220px;
    }

    .content-box {
        /* background-color: aquamarine; */
        max-width: 60%;
        height: 220px;
        margin-left: 20%;
    }

    .content-box h4 {
        margin-left: 10%;
        margin-top: 10px;
        font-size: 14px;
        color: #ee626b;
        font-weight: bold;
        text-transform: uppercase;
    }

    .content-box h2 {
        text-align: left;
        font-size: 14px;
        width: 150px;
        margin-left: 7%;
    }

    .content-box h3 {
        font-size: 13px;
        margin-left: 7%;
        font-weight: 200;
    }

    .list-items {
        display: flex;
        justify-content: center;
        box-shadow: 0 0 15px rgba(116, 115, 115, 0.819);
        border-radius: 10px;
        height: 400px;
        max-width: 330px;
        margin-top: 8%;
        /* background-color: blue; */
    }

    .list-items h2 {
        font-size: 20px;
    }

    .list-items ul {
        padding-left: 10px;
        margin-left: 80px;
    }

    .list-items span {
        font-size: 16px;
        color: rgb(170, 170, 170);
    }

    .list-items img {
        position: absolute;
        right: 70%;
        top: 10%;
    }

    .list-items .img-2 {
        position: absolute;
        right: 70%;
        top: 35%;
    }

    .list-items .img-3 {
        position: absolute;
        right: 70%;
        top: 58%;
    }

    .list-items .img-4 {
        position: absolute;
        right: 70%;
        top: 80%;
    }

    /* video-section */
    .video-view {
        max-width: 100%;
        margin-top: 120%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    /* image .bg-img{
        position: absolute;
        top:20%;
    } */
    /* .bg-img{
     margin-top: 20%;
} */
    .image-2 {
        height: 150px;
        width: 250px;
        position: absolute;
        left: 18%;
        top: 53%;
    }

    .image h3 {
        position: absolute;
        font-size: 16px;
        top: 0%;
        left: 36%;
        color: #ee626b;
    }

    .image h2 {
        position: absolute;
        width: 150px;
        font-size: 13px;
        top: 18%;
        left: 36%;
        color: #fbfafa;
    }

    /* .image a {
        position: absolute;
        right: 50%;
        top: 100%;
        text-decoration: none;
        outline: rgba(254, 85, 37, 0.5) solid 20px;
        padding: 10px;
        border-radius: 50%;
    }

    .img-icon {
        position: absolute;
        top: 30%;
        right: 30%;
        background-color: #eee;
        border-radius: 50%;
    } */

    /*  */
    .section-3 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 25%;
        /* background-color: #7a7a7a; */
    }

    .fun-factor {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 10%;
        /* background-color: #ee626b; */
    }

    .card-1 {
        position: relative;
        background-color: #ffeee9;
        width: 50%;
        margin: 20px;
        height: 100px;
        border-radius: 10px;
    }

    .card-1 h4 {
        position: absolute;
        right: 68%;
        top: -30%;
        font-size: 40px;
        color: #f35525;
    }

    .card-1 p {
        font-weight: 700;
        font-size: 18px;
        margin-left: 25px;
        margin-top: 33px;
    }

    .round-icon {
        position: absolute;
        right: 0;
        top: -25px;
        bottom: 70px;
        width: 40px;
        height: 40px;
        background-color: #f35525;
        border-radius: 50%;
    }

    .section-4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        position: relative;
        /* background-color: #8b888885; */
        width: 100%;
        height: auto;
    }

    .best-deal {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        position: relative;
    }

    .row-1 h4 {
        font-size: 18px;
        text-align: center;
        margin: 0;
        color: #f35525;
    }

    .row-1 h2 {
        font-size: 22px;
        text-align: center;
    }

    .row-2 {
        display: none;
    }

    .row-3 {
        display: flex;
        justify-content: center;
        /* margin: 50px; */
        /* background-color: #ee626b; */
    }

    .info {
        display: flex;
        justify-content: center;
        padding: 0px;
        margin-top: 2%;
        width: 320px;
        height: 400px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(73, 73, 73, 0.371);
    }

    .row-4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row-4 img {
        margin-top: 20px;
        max-width: 350px;
        /* margin-left: 10px; */
    }

    .row-5 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 1%;
        width: 380px;
    }

    .row-5 h4 {
        margin: 10px;
        padding-left: 30px;
        font-size: 18px;
        text-align: center;
    }

    .row-5 p {
        padding: 5px;
        line-height: 25px;
        width: 300px;
        text-align: justify;

        /* margin-left: 20px; */
    }

    .properties {
        width: 380px;
        height: auto;
        display: flex;
        margin: 3%;
        /* background-color: #ee626b; */
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .container-01 {
        display: flex;
        flex-direction: column;
        /* width: 80%; */
        justify-content: center;
        align-items: center;
    }

    .properties-row-1 {
        margin-bottom: 0;
        text-align: center;
        font-size: 20px;
        color: #f35525;
    }

    .properties-row-2 h2 {
        margin-top: 0;
        text-align: center;
        font-size: 1em;
        /* width: 80%; */
    }

    .propertie-img {
        border-radius: 10px;
        width: 200px;
        height: 250px;
        /* margin: 20px 10px; */
    }

    .properties-row-3 {

        position: relative;
        background-color: #fff4f4;
        border-radius: 10px;
        width: 380px;
        height: 550px;
    }

    .Schedule-btn {
        position: absolute;
        top: 90%;
        color: white;
        background-color: #070707;
        padding: 10px 20px;
        font-size: 12px;

    }

    .section-2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        margin: 2%;
        width: 380px;
        height: auto;
        margin-top: 50px;
        /* margin-left: 20px; */

        /* background-color: #7a7a7a; */
    }

    .container-02 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        margin: 3%;
    }
}



/*  */
@media screen and (min-width:768px){
    nav h2 {
        font-size: 30px;
    }
     nav ul {
        display: none;
    }
     .content span {
        background-color: white;
        font-size: 20px;
        padding: 2px;
        font-family: sans-serif;
        color: rgb(13, 13, 13);
    }

    .content h2 {
        width: 350px;
        margin-top: 15%;
        font-size: 2.5em;
        color: white;
    }
    .feature-section {
  width: 100%;
  height: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display:flex;
  justify-content: center;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100%;
  height: auto;
  margin-top: 20px;
 /* background-color: #ee626b; */
}
.img-container img{
height: 300px;
}
.content-box{
    margin: 0;
   
}
.content-box h2{
    font-size: 25px;
}
.list-items {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 300px;
  width: 300px;
  margin-top: 0;
}
.list-items ul {
  /* padding: 20px; */
  list-style: none;
  margin-left: 100px;
}

.list-items li {
  padding: 5px;
}
.list-items h2{
    font-size: 14px;
}
.list-items span {
  font-size: 15px;
  color: rgb(170, 170, 170);
}
.list-items img {
  position: absolute;
  right: 60%;
  top: 12%;
}
.list-items .img-2 {
  position: absolute;
  right: 60%;
  top: 35%;
}

.list-items .img-3 {
  position: absolute;
  right: 60%;
  top: 55%;
}

.list-items .img-4 {
  position: absolute;
  right: 60%;
  top: 78%;
}
.video-view {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  position: relative;
  /* background-color: #760fe4; */
}
.image h3 {
  position: absolute;
  top: 11%;
  left: 45%;
  color: #ee626b;
}

.image h2 {
  position: absolute;
  width: 350px;
  font-size: 2em;
  top: 17%;
  left: 35%;
  color: #fbfafa;
}

.image-2 {
  position: absolute;
  width: 400px;
  height: 200px;
  left: 25%;
  top: 58%;
}

.image a {
  position: absolute;
  right: 48%;
  top: 85%;
  font-size: 1em;
  text-decoration: none;
  outline: rgba(254, 85, 37, 0.5) solid 20px;
  padding: 20px;
  border-radius: 50%;
}

.img-icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #eee;
  border-radius: 50%;
}
.section-3 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 70px;
  /* background-color: #7a7a7a; */
}

.fun-factor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.card-1 {
  /* display: flex;
  position: relative;
  justify-content: center; */
  background-color: #ffeee9;
  padding-left: 0px;
  height: 80px;
  border-radius: 10px;
}

.card-1 h4 {
  position: absolute;
left: 6%;
  top: -40%;
  font-size: 35px;
  color: #f35525;
}

.card-1 p {
     position: absolute;
      right: 2%;
  top: 35%;
  font-weight: 700;
  font-size: 18px;
  width: 150px;
 margin: 0;
}

.round-icon {
  position: absolute;
  right: 0;
  top: -6%;
  bottom: 70px;
  width: 30px;
  height: 30px;
  background-color: #f35525;
  border-radius: 50%;
}
.section-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0%;
  /* background-color: #8b888885; */
  width: 100%;
  height: 600px;
}
.best-deal {
  position: relative;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-content: center;
}
.row-1  {
   width: 90%;
  font-size: 18px;
  text-align: center;
  margin: 0;
  /* color: #f35525; */
  height: 100px;
}
.row-4{
    height: 300px;
   
}
.row-4 img{
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(70, 69, 69, 0.527);
}
.row-5 {
    position: absolute;
    width: 350px;
    height: auto;
  right: 0;
  left: 48%;    
  top:80%;
}
.properties {
  width: 100%;
  height: auto;
  margin-top: 20%;
  display: flex;
  /* background-color: #7a7a7a; */
  justify-content: center;
  align-items: center;
}
.container-01 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

}
.properties-row-1 {
 
  text-align: center;
  font-size: 20px;
  color: #f35525;
}

.properties-row-2 {
  text-align: center;
  font-size: 1.8em;
  /* width: 80%; */
}
.properties-row-3 {
  position: relative;
  background-color: #fff4f4;
  border-radius: 10px;
  width: 300px;
  height: 550px;
}
.properties-row-4 {
  position: relative;
  background-color: #fff4f4;
  width: 300px;
  height: 550px;
  border-radius: 10px;
}
.properties-row-5 {

  position: relative;
  background-color: #fff4f4;
  width: 300px;
  height: 550px;
  border-radius: 10px;
}
.propertie-img {
  border-radius: 10px;
  min-width: 280px;
  height: 250px;
  margin: 20px 10px;
}
.section-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 50px;
  /* background-color: #7a7a7a; */
}
}